* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.nav-link {
    text-decoration: none;
    color: #4f5665;
    font-style: 16px;
    line-height: 19px;
    font-family: sans-serif, Rubik;
    font-weight: 600;
    margin-right: 32px;
}

.back_call {
    margin-right: 15px;
    color: #2573E8;
    padding: 13px 16px 13px 44px;
    position: relative;
    border-radius: 10px;
    border: 1px solid #2573E8;

}

.phone_number {
    /* border: 1px solid; */
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    background-color: #2573E8;
    padding: 13px 16px; 
}

.accent {
    color: #2573E8;
    font-weight: inherit;
}

.main_block {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    padding: 0 66.5px;
    padding-bottom: 75px;
}

/*  */

.main__title {
    font-size: 50px;
    line-height: 64px;
    font-weight: 600;
}

.main__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 35px;
    max-width: 544px;
    color: #4F5665;
}

.firstImg {
    max-width: 641px;
}

.second_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 56px 66.5px;
    background-color: #F8FAFF;
}

.second_block__title {
    margin-bottom: 36px;
    text-align: center;
    font-size: 36px;
    line-height: 48px;
    color: #0B132A;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

.second_block__SEO {
    display: flex;
    padding: 40px 0;
    box-shadow: 0px 16px 40px rgb(187 196 227 / 25%);
    border-radius: 10px;
    background-color: #fff;
    justify-content: space-around;
}

.contextual__title, .soc_media__title, .SEO__title, .SMM__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
    font-weight: 600;
    color: #4F5665;
}

.footnote {
    width: 1px;
    background-color: #E9E9E9;
    border: none;
}

.analytics_p {
    color: #4F5665;
    line-height: 19px;
    margin-bottom: 18px;
}

.analytics_p .accent {
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 7px;
    color: #2573E8;
    font-family: 'Rubik-Bold', sans-serif;
    font-weight: 700;
    display: block;
}

.third_block {
    display: flex;
    justify-content: space-around;
    padding: 56px 66.5px;
}

.secondImg {
    max-width: 350px;
    margin-top: 100px;
}

.third_block__content {
    max-width: 630px;
}

.section_title {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 48px;
    color: #0B132A;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

.section_subtitle {
    font-size: 18px;
    line-height: 21px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
    color: #4F5665;
}

.section_paragraph {
    color: #4F5665;
    font-size: 16px;
    line-height: 27px;
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
    max-width: 580px;
    margin-bottom: 30px;
}

.section_item {
    padding-left: 30px;
    margin-bottom: 23px;
    color: #4F5665;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

/* .third__title {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 48px;
    color: #0B132A;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

.third_subtitle {
    font-size: 18px;
    line-height: 21px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
    color: #4F5665;
}

.ready_works__item {
    padding-left: 30px;
    margin-bottom: 23px;
    color: #4F5665;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

.change_ligaments {
    padding-left: 30px;
    margin-bottom: 23px;
    color: #4F5665;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
} */

.learn_more {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 17px 64px 17px 28px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #2573E8;

}

.fourth_block {
    display: flex;
    justify-content: space-around;
    padding: 56px 66.5px;
    align-items: center;
    background-color: #F8FAFF;
}

.fourth_block__content {
    max-width: 580px;
}

.thirdImg {
    max-width: 360px;
}

.fifth_block {
    display: flex;
    justify-content: space-around;
    padding: 56px 66.5px;
}

.fifth_block__content {
    max-width: 480px;
}

.sixth_block {
    display: flex;
    justify-content: space-around;
    padding: 56px 66.5px;
    align-items: center;
    background-color: #F8FAFF;
}